:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  --color-error: #ec6561;

  background-color: #f0f0f0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  src:  local('Poppins'), url('/fonts/Poppins-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src:  local('Poppins'), url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.woff') format('woff');
  font-display: swap;
} 

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
  padding: 0px 8px;
}

.main {
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
  max-width: 450px;
  background-color: #fff;
  padding: 28px;
  border-radius: 16px 16px 110px 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 700;
  color: #6d6d6d;
  letter-spacing: 3px;
}

input {
  font-family: Poppins;
  padding: 0rem 8px;
  height: 40px;
  width: 50px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #dcdcdc;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;

  @media (min-width: 400px) {
    width: 70px;
    padding: 0rem 16px;
  }
}

input::placeholder {
  color: #848484;
}

.first-section {
  display: flex;
  gap: 18px;
}

.error {
  color: var(--color-error);
  font-size: 10px;
  letter-spacing: normal;
  transform: none;
  height: 10px;
  transform: skew(-6deg);
}

.errorBorder {
  border-color: var(--color-error);;
}

.errorText {
  color: var(--color-error);
}

hr {
  border: 1px solid #f4f4f4;
  width: 100%;
}

.second-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

span {
  color: #854cfb;
}

p {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  transform: skew(-8deg);
  margin: 0px;

  @media (min-width: 400px) {
    font-size: 52px;
  }
}